


<section id="login">

  <div class="logincontainer" layout="column">
    
    <h2>Quench Admin</h2>

       <md-input-container>
        <label>Username</label>
        <input ng-model="user.email">
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input ng-model="user.password" type="password">
      </md-input-container>

       <md-button class="md-raised md-warn" ng-click="login(user.email,user.password)">Login</md-button>
<md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="loginloader"></md-progress-linear>

  </div>

</section>
